<html>
  <head>
    <title>{{ title }} - GIB2 Prosjekt</title>
	<link rel="stylesheet" href="../static/css/leaflet_1.0.3.css" />
	<link rel="stylesheet" href="../static/css/styles.css" />
	<script src="../static/js/leaflet_1.0.3.js"></script>
	<script src="../static/js/map_init.js"></script>
  </head>
  <body>
    <h1>GIB2 Prosjekt</h1>
    <!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <!--<img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
        <A HREF = "https://no.wikipedia.org/wiki/Geomatikk#Studiemuligheter_i_Norge">Registrer deg her!</A>
    </div>

    <div class="container">
      <label><b>Brukernavn</b></label>
      <input type="text" placeholder="Skriv brukernavn" name="uname" required>

      <label><b>Passord</b></label>
      <input type="password" placeholder="Skriv passord" name="psw" required>

      <button type="submit">Login</button>
      <input type="checkbox" checked="checked"> Husk meg
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Glemt <a href="#">passordet?</a></span>
    </div>
  </form>
</div>

	<h2>Kjente steder</h2>
	<select id="sites">
	  <option>Velg sted...</option>
	  {% for site in sites %}
		<option onclick="showSiteOnMap('{{site.name}}', '{{site.category}}', '{{site.coordinates[0]}}', '{{site.coordinates[1]}}');">{{site.name}} ({{site.category}})</option>
	  {% endfor %}
	</select>
	<p />
	<div id="map"></div>
	<script>initMap()</script>
  </body>
</html>