<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - GIB2 Prosjekt</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/semantic.css" />
	<link rel="stylesheet" href="../static/css/leaflet-1.0.3.css" />
    <link rel="stylesheet" href="../static/css/leaflet-search.min.css" />
	<link rel="stylesheet" href="../static/css/styles.css" />

    <!-- JS -->
	<script src="../static/js/lib/jquery-3.1.1.min.js"></script>
    <script src="../static/js/lib/semantic.js"></script>
	<script src="../static/js/lib/leaflet-1.0.3.js"></script>
    <script src="../static/js/lib/leaflet-search.min.js"></script>
    <script src="../static/js/setup.js"></script>
	<script src="../static/js/map-init.service.js"></script>
    <script src="../static/js/site.service.js"></script>
  </head>

  <body>
    <div id="map"></div>

    <script type="text/template" id="templateLogin">
        <div class="ui styled accordion leaflet-control" style="width: 240px">
            <div class="title">
                <i class="dropdown icon"></i>
                Logg inn
            </div>
            <div class="content">
                <input id="username" class="ui input" type="text" placeholder="Brukernavn"><br />
                <input id="password" class="ui input" type="password" placeholder="Passord"><br />
                <button id="loginBtn" class="ui button">Logg på</button>
            </div>
            <div class="title">
                <i class = "dropdown icon"></i> Registrer bruker
                </div>
            <div class="content">
                    <input id="registerUsername" class="ui input" type="text" placeholder="Registrer brukernavn"><br/>
                    <input id="registerPassword" class="ui input" type="password" placeholder="Passord"><br />
                    <input id="confirmPassword" class="ui input" type="password" placeholder="Bekreft passord"><br />
                    <button id="createUser" class="ui button">Registrer bruker</button>
                </div>
                <div id="statusLogin"></div>
                </div>
    </script>

    <script type="text/template" id="templateAdmin">
        <div class="ui styled accordion leaflet-control" style="width: 200px">
            <div class="title">
                <i class="dropdown icon"></i>
                Legg til sted
            </div>
            <div class="content">
                <div class="ui selection dropdown">
                    <input id="category" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Kategori</div>
                    <div class="menu">
                        <div class="item" data-value="sight">Severdighet</div>
                        <div class="item" data-value="food">Spisested</div>
                        <div class="item" data-value="accommodation">Overnatting</div>
                    </div>
                </div>
                <input id="name" class="ui input" type="text" placeholder="Navn"><br />
                <input id="description" class="ui input" type="text" placeholder="Beskrivelse"><br />
                <input id="x" class="ui input" type="text" placeholder="x"><input class="ui input" id="y" type="text" placeholder="y"><br />
                <button id="adminAddBtn" class="ui button">Lagre</button><br />
                <div id="statusSite"></div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Eksisterende steder
            </div>
            <div class="content">
                Her vil det bli mulig å se detajer på steder, endre og slette de...
            </div>
        </div>
    </script>

    <script type="text/template" id="templateShortestPath">
        <div class="ui styled accordion leaflet-control" style="width: 200px">
            <div class="title">
                <i class="dropdown icon"></i>
                Finn korteste vei
            </div>
            <div class="content">
                <input id="siteFrom" class="ui input" type="text" placeholder="Fra sted"><br />
                <input id="siteTo" class="ui input" type="text" placeholder="Til sted"><br />
                <button id="shortestPathBtn" class="ui button">Finn korteste vei</button>
                <div id="statusPath"></div>
            </div>
        </div>
    </script>

	<script>
        GIB2.mapInitService.initMap();
    </script>

    <script>
        $(document).ready(function() {
            $('.ui.accordion').accordion();
            $('.ui.dropdown').dropdown();
        });
    </script>
  </body>
</html>